/*--------------------------------------------------------------
  >>> TABLE OF CONTENTS:
  ----------------------------------------------------------------
  # Body
  # Typography
  # Breakpoints
  # Container
  # Global color
  # Navigation
  # Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  # Body
--------------------------------------------------------------*/
$body-background-base: #fff;
$body-color-base: #333;
$font-family-base: 'GothamPro', "Helvetica CY", "Nimbus Sans L", sans-serif !default;
$font-size-base: 16px !default;
$line-height-base: 1.42857143 !default;

/*--------------------------------------------------------------
  # Typography
--------------------------------------------------------------*/
$h1: 38px;
$h2: 30px;
$h3: 26px;
$h4: 22px;
$h5: 18px;
$h6: 16px;

$mb: 16px;

/*--------------------------------------------------------------
  # Breakpoints
--------------------------------------------------------------*/

$breakpoints: (
	'xxl': 1339px,
	'xl': 1199px,
	'lg': 991px,
	'md': 767px,
	'sm': 666px,
	'xs': 479px,
	'xxs': 375px,
);

$media-expressions: (
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
);

/*--------------------------------------------------------------
  # Container
--------------------------------------------------------------*/
$container: 1216px !default;
$gutter: 23px !default;

/*--------------------------------------------------------------
  # Global color
--------------------------------------------------------------*/
$smail-green: #438dff;
$white: #fff;
$grey: #f4f4f4;

/*--------------------------------------------------------------
  # Navigation
--------------------------------------------------------------*/
$nav-base: #333;
$nav-hover-base: $smail-green;

/*--------------------------------------------------------------
  # Links
--------------------------------------------------------------*/
$link-base: #333;
$link-hover-base: $smail-green;
