section.layouts
  .layouts__left
    +cart('Product 1', 'Qui tempore dolore perferendis inventore impedit nam odio odit corporis totam maxime?', '24', '#0')
    +cart('Product 2', 'Lorem ipsum dolor sit elit adipisicing maxime?', '20', '#0')
    +cart('Product 3', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempore dolore perferendis?', '8,5', '#0')
    +cart('Product 4', 'Lorem ipsum dolor sit amet consectetur adipisicing elit.', '16', '#0')
  .layouts__right
    +cart('Product 5', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempore dolore perferendis inventore impedit nam odio odit corporis totam maxime?', '18', '#0')('cart--v')