extends ../_template/landing.pug

block head
  title
    | contact page


block main
  include ../../common.blocks/navbar/navbar

  .content.bg--white
    .container
      .entry
        .title
          h1 Hello
        
        h3 Hello 2
        
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?

        h3 Hello 2

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fugit?

  include ../../common.blocks/cta/cta
  include ../../common.blocks/maps/maps



block modal
