extends ../_template/landing.pug

block head
  title
    | home page


block main
  include ../../common.blocks/navbar/navbar
  include ../../common.blocks/hero/hero
  include ../../common.blocks/cta/cta
  include ../../common.blocks/advantage/advantage
  include ../../common.blocks/sales/sales
  include ../../common.blocks/how-work/how-work
  include ../../common.blocks/faqs/faqs
  include ../../common.blocks/maps/maps
  include ../../common.blocks/cta/cta



block modal
