.flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--column {
    flex-direction: column;
  }

  // horizontal

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: flex-end;
  }

  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }

  // vertical
  &--middle {
    align-items: center;
  }
}
