//- include ../../base.blocks/
include ../../base.blocks/modal/modal
include ../../base.blocks/humburger/humburger
include ../../base.blocks/headline/headline
include ../../base.blocks/button/button
include ../../base.blocks/collapse/collapse
include ../../base.blocks/input/input
include ../../base.blocks/dropdown/dropdown
include ../../base.blocks/nav/nav
include ../../base.blocks/cart/cart
include ../../base.blocks/cart-sale/cart-sale
include ../../base.blocks/logo/logo
include ../../base.blocks/cart-advantage/cart-advantage
include ../../base.blocks/cart-how-work/cart-how-work

block options

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    title= options && options.title ? options.title : 'Not found title'
    link(rel="stylesheet" type='text/css' href="css/index.css")
    block head

       
  body
    block content

  script(src="js/scripts.min.js")
  block script
