.cta.bg--green
  .container
    .cta__container
      h2.cta__title Contact us
      form.cta__form(action="")
        .input-group
          input.input.first(type="text" name="name" placeholder="Name" required)
          input.input(type="tel" name="phone" placeholder="Phone" required)
          button.last(type="submit")
            i.icon-send
      
      p.cta__descr
        | Lorem ipsum dolor, sit amet consectetur<br>
        | adipisicing elit. Natus, facere?
