extends ../_template/landing.pug

block options
  - 
    var options = {
      title: 'product page',
    };



block main
  include ../../common.blocks/navbar/navbar
  include ../../common.blocks/hero/hero
  include ../../common.blocks/advantage/advantage
  include ../../common.blocks/sales/sales


block modal
