extends ../_template/landing.pug

block head
  title
    | products page


block main
  include ../../common.blocks/navbar/navbar
  include ../../common.blocks/hero/hero
  include ../../common.blocks/hero/hero
  include ../../common.blocks/advantage/advantage
  include ../../common.blocks/sales/sales


block modal
